.mat-tab-group {
  height: 100%;
}

.mat-grid-list {
  height: 100%;
}

::ng-deep .mat-tab-body-wrapper {
  flex: 1 1 100%;
}

.content {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  width: calc(100% - 15px);
  height: calc(100% - 15px);

  .header {
    padding: 10px 10px;
    position: relative;
    h4 {
      margin: 0;
    }
  }

  .body {
    height: calc(100% - 40px);
  }

  &.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.edit-container {
  position: absolute;
  box-sizing: border-box;
  width: calc(100% - 10px);
  height: 30px;
  top: 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: opacity 0.3s;
}
